<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Permanently delete Message  - {{ user.email() }} {% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}
<div class="box">
    <style>.box{background-color: rgb(191, 191, 191); margin-top: -100px; padding: 110px 0px 380px 0px; text-align: center;}</style>
     <div class="boxcontent">
<div class="messages">

<h3><i class="material-icons">delete</i>Message: Delete message<i class="material-icons">delete</i></h3>

<form method="post">
    <p><strong>Delete this message</strong></p>

    <p><strong>from:</strong> {{ message.send }}</p>

    <p><strong>to:</strong> {{ message.email }}</p>

    <p><strong>subject:</strong> {{ message.email }}</p>

    <p><strong>text:</strong> {{ message.message }}</p>

     <button class="btn btn-outline-danger" type="submit"><i class="material-icons">delete</i> Delete this message?!</button>
        <a class="btn btn-outline-light" href="/boogle" >cancel</a>
</form>
    </div>
</div>
</div>
{% endblock page_content %}

</body>
</html>