<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Boogle-News - {{ user.email() }} {% endblock title %}</title>

</head>
<body>
{% extends "base.html" %}
{% block page_content %}

 <div class="news">
    <style>.news{background-image: url(assets/img/news.jpeg);text-align: center; color: white; }</style>
<div class="article">
    <h3>{{ news_info.articles[0].author }}</h3>
    <h1>{{ news_info.articles[0].title }}</h1>
    <p>{{ news_info.articles[0].publishedAt }}</p>
    <h3>{{ news_info.articles[0].description }}</h3>
    <img src="{{ news_info.articles[0].urlToImage }}">
    <h4><a href="{{ news_info.articles[0].url }}">Read more ...</a></h4>
 </div>

 <div class="article">
    <h3>{{ news_info.articles[1].author }}</h3>
    <h1>{{ news_info.articles[1].title }}</h1>
    <p>{{ news_info.articles[1].publishedAt }}</p>
    <h3>{{ news_info.articles[1].description }}</h3>
    <img src="{{ news_info.articles[1].urlToImage }}" width="300px">
    <h4><a href="{{ news_info.articles[1].url }}">Read more ...</a></h4>
 </div>
     <div class="article">
    <h3>{{ news_info.articles[3].author }}</h3>
    <h1>{{ news_info.articles[3].title }}</h1>
    <p>{{ news_info.articles[3].publishedAt }}</p>
    <h3>{{ news_info.articles[3].description }}</h3>
    <img src="{{ news_info.articles[3].urlToImage }}" width="300px">
    <h4><a href="{{ news_info.articles[3].url }}">Read more ...</a></h4>
 </div>

          <div class="article">
    <h3>{{ news_info.articles[4].author }}</h3>
    <h1>{{ news_info.articles[4].title }}</h1>
    <p>{{ news_info.articles[4].publishedAt }}</p>
    <h3>{{ news_info.articles[4].description }}</h3>
    <img src="{{ news_info.articles[4].urlToImage }}" width="300px">
    <h4><a href="{{ news_info.articles[4].url }}">Read more ...</a></h4>
 </div>
          <div class="article">
    <h3>{{ news_info.articles[2].author }}</h3>
    <h1>{{ news_info.articles[2].title }}</h1>
    <p>{{ news_info.articles[2].publishedAt }}</p>
    <h3>{{ news_info.articles[2].description }}</h3>
    <img src="{{ news_info.articles[2].urlToImage }}" width="300px">
    <h4><a href="{{ news_info.articles[2].url }}">Read more ...</a></h4>
 </div>
     <a class="btn btn-outline-light" data-toggle="tooltip" data-placement="top" title="top" href="#top"><i class="material-icons">keyboard_arrow_up</i></a>
<br>
     <br>
 </div>

{% endblock page_content %}
</body>
</html>