<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Bmail/Outbox - {{ user.email() }} {% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}
<div class="box">
    <style>.box{background-image: url(assets/img/connect.jpeg);}</style>

<div class="messages">
<hr>
<h3><i class="material-icons">send</i> Outbox <i class="material-icons">send</i></h3>
<h3>Your Messages</h3>

        {% for message in messages %}
        {% if message.send == user.email()%}

    <p>
        <strong><i>to: <a href="mailto:{{message.email}}">{{ message.email }}</a></i></strong><br>
    <p><strong>date:</strong>at {{ message.created.strftime('%d %B %Y at %H:%M') }}:</p>
        <p><strong>subject:</strong> {{ message.subject }}</p><br>
        <em>{{ message.message }}</em><br>
        <a href="/message/{{message.key.id()}}/show" data-toggle="tooltip" data-placement="view" title="view"><i class="material-icons">pageview</i></a> | <a href="/message/{{message.key.id()}}/delete" data-toggle="tooltip" data-placement="delete" title="delete"><i class="material-icons">delete</i></a><br>
        ------------------------------------
    </p>

<br>
        {% endif %}
        {% else %}
    <br>
        <p>No messages yet.</p>
    <br>
                {% endfor %}
<a class="btn btn-outline-light" data-toggle="tooltip" data-placement="top" title="top" href="#top"><i class="material-icons">keyboard_arrow_up</i></a>
</div>
</div>

{% endblock page_content %}

</body>
</html>